
{% extends "components/base.html" %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Product Detail</h2>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text text-muted">₽ {{ product.price }}</p>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="mt-4">
        <h4>Добавить отзыв</h4>
        <form method="post" action="{% url 'add_review' product.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="reviewContent" class="col-form-label">Ваш отзыв:</label>
                <textarea class="form-control" id="reviewContent" name="content" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </form>
    </div>
    {% else %}
    <p class="mt-4">Пожалуйста <a href="{% url 'login' %}">войдите</a> чтобы оставить отзыв.</p>
    {% endif %}

    <div class="mt-4">
        <h4>Отзывы</h4>
        {% for review in reviews %}
        <div class="media mb-3">
            <img src="{% static 'png/user.png' %}" class="mr-3 rounded-circle" alt="User Avatar" width="50">
            <div class="media-body">
                <h5 class="mt-0">{{ review.user.username }}</h5>
                <p>{{ review.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main %}
