{% extends "components/base.html" %}
{% load django_app_filters_and_tags %}

{% block title %}Profile{% endblock title %}

{% block main %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Здравствуйте, {{ user.username }}!</h2>
            <p class="card-text">Email: {{ user.email }}</p>
            {% if user.first_name or user.last_name %}
                <p class="card-text">Имя: {{ user.first_name }} <br>Фамилия: {{ user.last_name }}</p>
            {% endif %}
            <p class="card-text">Последний Вход: {%formatted_time user.last_login %}</p>
            <p class="card-text">Дата Регистрации: {%formatted_time user.date_joined %}</p>

            <h3 class="card-title">Права:</h3>
            <p class="card-text">Статус рабочего: {% if user.is_staff %}<span class="badge bg-success">Yes</span>{% else %}<span class="badge bg-danger">No</span>{% endif %}</p>
            <p class="card-text">Админ: {% if user.is_superuser %}<span class="badge bg-success">Yes</span>{% else %}<span class="badge bg-danger">No</span>{% endif %}</p>
        </div>
    </div>
</div>
{% endblock main %}
