{% extends "components/base.html" %} {% block title %} Home {% endblock title %}
{% load django_app_filters_and_tags %}
{% load static %}
{% block main %}
<style>
    .custom-color {
        background-color: #002f34;
        color: #002f34;
    }
</style>

</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Посты на сайте</h1>
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-3 text-center justify-content-center">
    {% for p in posts %}
    {%if p.is_active %}
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div>
                <img class="img-fluid" src="{{ p.get_post_url }}" alt="{{ v.name }}"
                    style="height:250px; max-width:100%; object-fit: cover;">
            </div>
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ p.title }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
                    {% relative_time p.created_at %}
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>{{ p.content|custom_cut:50 }}</li>
                </ul>
                <a href="{% url 'post_detail' p.id %}" type="button"
                    class="w-100 btn btn-lg btn-outline-primary">Детали</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col">
        <h2> Будьте первыми в создании поста за сегодня</h2>
    </div>
    {% endif %}
    {%empty%}
    <div class="col">
        <h2> Будьте первыми в создании поста за сегодня</h2>
    </div>

    {% endfor %}
</div>

<hr />

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/IMessage_logo.svg/2048px-IMessage_logo.svg.png"
                class="d-block mx-lg-auto img-fluid rounded-5" alt="Bootstrap Themes" width="350" height="500"
                loading="lazy" />
        </div>
        <div class="col-lg-6 display-5 fw-bold text-body-emphasis lh-1 mb-3">
            <p class="lead">
                Мы создали удобную и функциональную площадку для публикации постов и обсуждения их в комментариях.
                Здесь каждый пользователь может делиться своими мыслями, идеями и впечатлениями, а также принимать
                участие в живых дискуссиях.
                Мы стремимся сделать нашу главную страницу интересной и привлекательной для всех посетителей, поэтому
                активно развиваем контент и предлагаем разнообразные темы для обсуждения.
                Мы уверены, что благодаря этому наш ресурс будет популярным и живым сообществом, где каждый найдет
                что-то интересное для себя.
                Присоединяйтесь к нам и делитесь своими мыслями!
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start"></div>
        </div>
    </div>
</div>
{% endblock main %}