{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}DHL COPY{% endblock %}</title>
</head>
<body>
<header class="p-3 bg-warning text-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                <h3> DHL </h3>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'home' %}" class="nav-link px-2 text-dark">Home</a></li>
                <li><a href="{% url 'price_list' %}" class="nav-link px-2 text-dark">Prices</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'profile' username=request.user.username %}" class="nav-link px-2 text-dark">Profile</a></li>
                {% endif %}
            </ul>
            <div class="text-end">
                {% if request.user.is_authenticated %}
                    <span class="text-dark me-2 fw-bold">Добро пожаловать, {{ request.user.username }}</span>
                    <a href="{% url 'logout' %}" class="btn btn-danger">Выход</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-dark me-2 ">Login</a>
                    <a href="{% url 'register' %}" class="btn btn-danger">Sign-up</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

    <div class="container-fluid mt-5">
        {% block main %}{% endblock %}
    </div>
    {% include "components/footer.html" %}


<script defer src="{% static 'js/bootstrap/bootstrap.js' %}"></script>

</body>
</html>
