{% extends "components/base.html" %}
{% load django_app_filters_and_tags %} 
{%load static %} 
{% block title %}Chatting 
{% endblock title %} 
{% block main %}

<div class="container mt-5">
  <h1 class="display-4 text-center">
    {{ current_user.username|title }}'s Chat Rooms
  </h1>
<div class="d-flex flex-lg-row">
 {% if sort == "desc" %}
    <a class="sort-link" href="{% url 'chat' %}?sort=asc" id="sort-asc"><i class="fa-solid fa-arrow-up-wide-short display-5"></i></a>
    {% elif sort == "asc" %}
    <a class="sort-link" href="{% url 'chat' %}?sort=desc" id="sort-desc"><i class="fa-solid fa-arrow-down-wide-short display-5"></i></a>
    {% endif %}
</div>

  <div class="row mt-4" id="room_data">
    {% if current_user.is_authenticated %} {% for room_data in room_data %}
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div
        class="card h-100 border-0 rounded overflow-hidden shadow-sm animate__animated animate__fadeIn">
        <div class="card-body p-4 bg-light">
          <h5 class="card-title mb-3">
            Item Title: {{ room_data.room.item.title }}
          </h5>
          <p class="card-text">
            <i class="bi bi-card-text"></i> Chatting with
            {{room_data.opponent_username | title  }}
          </p>
        </div>
        <div class="card-footer bg-transparent">
          <small class="text-muted d-flex justify-content-between mb-3">
            <span>Created on:</span>
            <span>{%formatted_time room_data.room.created_at%}</span>
          </small>
          <a
            href="{% url 'room' room_data.room.slug room_data.room.token %}"
            class="btn btn-primary btn-sm"
            >Join Room</a
          >
        </div>
      </div>
    </div>
    {% empty %}
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        No rooms have been created!
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock main %}


