{% extends "components/base.html" %}
{% load django_app_filters_and_tags %}
{% load static %}
{% block title %}User Moderation{% endblock title %}
{% block main %}
  <div class="container mt-5">
    <h2 class="text-center mb-4">Модерация пользователей</h2>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <ul class="list-group">
          {% for u in users %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center" style="min-width: 150px;">
                {{ u.username }}
              </div>
              {% if u != request.user %}
                  <div class="btn-group">
                  {% if u.profile.user.is_active %}
                    <a href="{% url 'moderate_ban_users' user_id=u.profile.id %}" class="btn btn-warning btn-sm me-5">Ban</a>
                  {% else %}
                    <a href="{% url 'moderate_unban_users' user_id=u.profile.id %}" class="btn btn-success btn-sm me-5">Unban</a>
                  {% endif %}
                  <a href="{% url 'moderate_delete_users' user_id=u.profile.id %}" class="btn btn-danger btn-sm delete-btn" data-username="{{ u.username }}">Delete</a>
                </div>
              {% else %}
                <span class="badge bg-secondary mx-2">You</span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

<script src="{% static 'js/confrim_delete_user.js' %}"></script>

{% endblock main %}
