{% extends "components/base.html" %}
{% load django_app_filters_and_tags %}
{% block main %}
{% check_access "moder_seller" as access %}
{%if access%}
  <div class="container mt-5">
    <h2>Order List</h2>

    <div class="d-flex flex-lg-row mb-3">
      <a href="{% url 'order_list' %}?status=processing" class="btn btn-primary mr-2">
        {% if request.GET.status == 'processing' %}
          <i class="fas fa-eye"></i> Hide Processing Orders
        {% else %}
          <i class="fas fa-eye-slash"></i> Show Processing Orders
        {% endif %}
      </a>

      <a href="{% url 'order_list' %}?status=confirmed" class="btn btn-success">
        {% if request.GET.status == 'confirmed' %}
          <i class="fas fa-eye"></i> Hide Confirmed Orders
        {% else %}
          <i class="fas fa-eye-slash"></i> Show Confirmed Orders
        {% endif %}
      </a>
    </div>

    <h3>Orders:</h3>
    <ul class="list-group">
      {% for order in orders %}
        <li class="list-group-item">
          <a href="{% url 'order_detail' order.id %}">{{ order.date_created }} - Order #{{ order.id }}</a>
        </li>
      {% endfor %}
    </ul>

    <div class="mt-4">
      <p><strong>Total Orders:</strong> {{ total_orders_count }}</p>
    </div>
  </div>
{% else %}
<div class="container-fluid"> <p>How did you get here?</p></div>
{%endif%}
{% endblock main %}
