{% extends "components/base.html" %}
{% load django_app_filters_and_tags %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main %}
<style>   
.styled-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
.styled-link:hover {
    text-decoration: underline;
}
.review-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.review-content {
    flex: 1;
}
.review-buttons {
    margin-left: 10px; 
}
  .custom-justified {
    text-align: justify;
  }
  .old-price {
    text-decoration: line-through;
    color: #888; 
    margin-right: 5px; 
}

</style>
<div class="container mt-5">
    <h2 class="mb-4 text-center">Product Detail</h2>
        <div class="text-center">
            <img src="{% item_image_url product %}" alt="{{ product.name }}" class="img-fluid" style="max-width: 450; max-height: 450px;">
        </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            
            {% if product.discounted_price %}
                <span class="old-price">{% digit_beautify product.price %} ₸</span>
                <span class="new-price fw-bold">{% digit_beautify product.discounted_price %} ₸</span>
                <span class="discount-percentage fw-bold">({{ product.discount_percentage }}% off)</span>
            {% else %}
                <span class="price fw-bold">{% digit_beautify product.price %}  ₸</span>
            {% endif %}
        </div>
    </div>

{% if user.is_authenticated %}
    <div class="mt-4">
        {% if is_my_rating == 1 %}
            <a href="{% url 'rating' product.id '1' %}"><i class="row fa-solid fa-thumbs-up text-success display-6 m-1 p-3"></i></a>
        {% else %}
            <a href="{% url 'rating' product.id '1' %}"><i class="row fa-regular fa-thumbs-up text-success display-6 m-1 p-3"></i></a>
        {% endif %}
        {%if total_rating_value < 0 %}
            <div class="row display-6 text-danger m-1 p-1">Рейтинг товара: {{ total_rating_value }}</div>
        {%else%}
            <div class="row display-6 text-success m-1 p-1">Рейтинг товара: {{ total_rating_value }}</div>
        {%endif%}

        {% if is_my_rating == -1 %}
            <a href="{% url 'rating' product.id '-1' %}"><i class="row fa-solid fa-thumbs-down display-6 text-danger m-1 p-3"></i></a>
        {% else %}
            <a href="{% url 'rating' product.id '-1' %}"><i class="row fa-regular fa-thumbs-down display-6 text-danger m-1 p-3"></i></a>
        {% endif %}
        <h4>Написать отзыв</h4>
        <form method="post" action="{% url 'add_review' product.id %}">
            {% csrf_token %}
            <textarea name="content" class="form-control mb-2" placeholder="оставьте ваш отзыв здесь" required></textarea>
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </form>


        <div class="display-6 text-danger m-1 p-1">{{ total_rating_value.dislikes }}</div>
    </div>
{% else %}
     {%if total_rating_value < 0 %}
            <div class=" row display-6 text-danger m-1 p-1">Рейтинг товара: {{ total_rating_value }}</div>
        {%else%}
            <div class="row display-6 text-success m-1 p-1">Рейтинг товара: {{ total_rating_value }}</div>
        {%endif%}
    <p class="mt-4"> <a href="{% url 'login' %}" class="styled-link">Войдите</a> чтобы оставить отзыв</p>
{% endif %}




    <div class="mt-4">
        <h4>Отзывы</h4>
        {% for review in reviews %}
            <div class="review-container">
                <div class="media mb-3 review-content">
                    <img src="{% static 'png/user.png' %}" class="mr-3 rounded-circle" alt="User Avatar" width="50">
                    <div class="media-body">
                        <h5 class="mt-0">{{ review.user.username }}</h5>
                        {% if review.content|length > 200 %}
                             <p class="d-flex justify-content-center custom-justified">{{ review.content }}</p>
                        {% else %}
                    <p>{{ review.content }}</p>
                    {%endif%}
                        <p class="text-muted">{%relative_time review.created_at%}</p>
                    </div>
                </div>
                {% if user.is_authenticated and user.is_staff %}
                    <div class="review-buttons">
                        <form method="post" action="{% url 'product_detail' product.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="review_id" value="{{ review.id }}">
                            {% if review.is_visible %}
                                <input type="hidden" name="action" value="hide">
                                <a href="#" class="styled-link" onclick="this.closest('form').submit(); return false;">Скрыть</a>
                            {% else %}
                                <input type="hidden" name="action" value="unhide">
                                <a href="#" class="styled-link" onclick="this.closest('form').submit(); return false;">Показать</a>
                            {% endif %}
                        </form>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% include "components/paginator.html" %}



{% endblock main %}
