{% extends "components/base.html" %}

{% block title %}Product List{% endblock title %}

{% block main %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Product List</h2>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.1 }}</h5>
                        <p class="card-text">{{ product.2|truncatechars:30 }}</p>
                        <a href="{% url 'product_detail' product.0 %}" class="btn btn-primary">Открыть</a>
                        <p class="card-text text-muted">₽ {{ product.3 }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock main %}
