<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"/>
    <title>{% block title %}Store{% endblock %}</title>
</head>
<body>
  <header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{{ url_for('home') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
               <h3> My Store </h3>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ url_for('home') }}" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="{{ url_for('product_list') }}" class="nav-link px-2 text-white">Products</a></li>
                {% if 'username' in session %}
                    <li><a href="{{ url_for('profile', username=session['username']) }}" class="nav-link px-2 text-white">Profile</a></li>
                {% endif %}
            </ul>
            <div class="text-end">
                <a href="{{ url_for('login') }}" class="btn btn-outline-light me-2">Login</a>
                <a href="{{ url_for('register') }}" class="btn btn-warning">Sign-up</a>
            </div>
        </div>
    </div>
</header>
    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>
    {% include "footer.html" %}
</body>
</html>
