{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
    <h1 class="mb-4">Product List</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="{{ product[1] }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product[1] }}</h5>
                        <p class="card-text">${{ product[2] }}</p>
                        <a href="{{ url_for('product_details', product_id=product[0]) }}" class="btn btn-primary btn-block">Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
