{% extends "components/base.html" %} 

{% block title %} Домашняя {% endblock title %}

{% block main %}

<div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h1 class="mb-4">Welcome to My Store</h1>

                <div class="card mb-4">
                    <img src="https://via.placeholder.com/800x400" class="card-img-top" alt="Blog Post Image">
                    <div class="card-body">
                        <h2 class="card-title">Discover Our Latest Products</h2>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>

                <div class="card mb-4">
                    <img src="https://via.placeholder.com/800x400" class="card-img-top" alt="Blog Post Image">
                    <div class="card-body">
                        <h2 class="card-title">Behind the Scenes: Our Passion for Quality</h2>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
 
        </div>
    </div>

{% endblock main %}
