{% extends "components/base.html" %}

{% block title %}Profile{% endblock title %}

{% block main %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Welcome, {{ user.username }}!</h2>
            <p class="card-text">Email: {{ user.email }}</p>
            {% if user.first_name or user.last_name %}
                <p class="card-text">Name: {{ user.first_name }} {{ user.last_name }}</p>
            {% endif %}
            <p class="card-text">Last Login: {{ user.last_login }}</p>
            <p class="card-text">Date Joined: {{ user.date_joined }}</p>

            <h3 class="card-title">Permissions:</h3>
            <p class="card-text">Staff status: {% if user.is_staff %}<span class="badge bg-success">Yes</span>{% else %}<span class="badge bg-danger">No</span>{% endif %}</p>
            <p class="card-text">Superuser status: {% if user.is_superuser %}<span class="badge bg-success">Yes</span>{% else %}<span class="badge bg-danger">No</span>{% endif %}</p>
        </div>
    </div>
</div>
{% endblock main %}
